.combobox-row {
	width:385px;
	height:30px;
	font-size:18px;
	padding-left:15px;
	border:1px solid grey;
	line-height:30px;
	font-family: Arial;
	cursor:pointer;
	border-radius:5px;
	
}
.combobox-row-value{
	display:inline;
}

.combobox-row-icon{
	width:20px;
	height:20px;
	margin-top:7px;
	margin-right:5px;
	float:right;
	display:inline;
}
.combobox-list {
	display:none;
	width:400px;
	max-height:300px;
	font-size:16px;
	margin-top:5px;
	border:1px solid lightgray;
	font-family: Arial;
	position: relative;
}

.combobox-list-input {
	font-size:16px;
	height:26px;
	margin:5px 10px 0 10px;
	width:calc(100% - 54px);
	padding-left:10px;
	padding-right:20px;
	border:2px solid lightblue;
	border-radius:5px;
}
.combobox-list-input:focus{
    outline: none;
}

.combobox-list-input-icon {
	position:absolute;
	right:15px;
	margin-top:13px;
}



.combobox-list ul{
	list-style-type:none;
	margin-top:10px;
	margin-bottom:10px;
	padding:0;
	max-height:100px;
	overflow:overlay;
}

.combobox-list ul li{
	font-size:16px;
	line-height:26px;
	padding-left:20px;
}

.combobox-list .selected{
color:red;
}

.combobox-list ul li:hover{
background-color:lightgray;
cursor:pointer;
}
.combobox-list-text {
	color:lightgray;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	text-align:center;
}



