.combobox-row {
	width:385px;
	height:30px;
	font-size:18px;
	padding-left:15px;
	border:1px solid grey;
	line-height:30px;
	font-family: Arial;
	cursor:default;
	
	
}
.combobox-row-value{
	display:inline;
}

.combobox-row-icon{
	width:20px;
	height:20px;
	margin-top:7px;
	margin-right:5px;
	float:right;
	display:inline;
}
.combobox-list {
	display:none;
	width:400px;
	max-height:300px;
	font-size:16px;
	margin-top:5px;
	border:1px solid lightgray;
	font-family: Arial;
}

.combobox-list ul{
	list-style-type:none;
	margin-top:10px;
	margin-bottom:10px;
	padding:0;
}

.combobox-list ul li{
	font-size:16px;
	line-height:26px;
	padding-left:20px;

}
.combobox-list ul li:hover{
background-color:lightgray;
cursor:pointer;
}



